@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
* {
  margin: 0;
  font-family: Inter;
  font-weight: 400;
}
:root {
  --accentBlueColor: #0e6aa3;
  --grayText: #939393;
}
h1,
h2,
h3 {
  font-weight: 800;
}

section:nth-child(n + 2) p {
  color: var(--grayText);
}

/* PAGE ONE */
/* PAGE ONE */
/* PAGE ONE */
/* PAGE ONE */

.page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fHRyYXZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.web-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  width: 100%;
}

.web-menu a,
.web-menu img,
.web-menu button {
  font-size: 18px;
  text-decoration: none;
  height: 2rem;
}
.web-menu a:hover,
.web-menu a:visited {
  color: var(--accentBlueColor);
}

.section-0 {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
}

.section-1 {
  display: flex;
  gap: 10px;
  flex: 2;
  justify-content: center;
}

.section-2 {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: end;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 150px;
}
.text h1 {
  font-size: 32px;
}
.text p {
  font-size: 20px;
  text-align: center;
  display: flex;
  width: 38%;
}
.button {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1px 1fr 1px 1fr 60px;
  border-radius: 9999px;
  overflow: hidden;
  justify-content: space-between;
}
.button button {
  all: unset;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 9999px;
  background-color: var(--accentBlueColor);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.button input {
  border: none;
  padding-inline: 10px;
}

.button input::placeholder {
  color: #aaa;
}

.button input:focus {
  outline: none;
}

.input {
  padding-block: 20px;
  padding-inline: 10px;
  display: flex;
}

.border {
  background-color: black;
  height: 80%;
  align-self: center;
}

/* PAGE TWO */
/* PAGE TWO */
/* PAGE TWO */
/* PAGE TWO */
/* PAGE TWO */
.page2 {
  height: 100vh;
  padding: 6rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.page2 > div:first-of-type {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.twosections {
  display: flex;
  justify-content: space-between;
}
.twosections p:nth-child(1) {
  width: 3rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--grayText);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.twosections p:nth-child(n + 2) {
  width: 8rem;
  height: 3rem;
  border: 1px solid var(--grayText);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.twosections :first-child {
  background-color: var(--accentBlueColor);
  color: white;
  border: 1px solid white;
}
.photogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
}
[class^="card"] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
[class^="card"] > :first-child {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
[class^="card"] div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
[class^="card"] div div img {
  height: 2rem;
  margin-right: 1rem;
}
.twopagebuttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.twopagebuttons div {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.twopagebuttons > p {
  padding: 1rem 2rem;
  border: 1px solid var(--grayText);
  border-radius: 20px;
}
.twopagebuttons > div p {
  width: 3rem;
  border: 1px solid black;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.twopagebuttons > div > :nth-child(3) {
  color: white;
  background-color: var(--accentBlueColor);
  border: 0px;
}
